/* #region Main classes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;

}

img {
    max-width: 100%;
}

.bg-grey {
    background-color: #f6f6f6;
}

/* #endregion  Main classes */

/* Container style */
.container {
    max-width: 1080px;
    margin: 0 auto;
    gap: 20px;
}

.c-flex {
    display: flex;
    align-items: center;
}

.c-small {
    max-width: 600px;
}

.container .double-col {
    min-width: 70%;
}


/* End Container style */

/* #region Above the fold */
header {
    background-color: #255ee9;
}

header .container {
    min-height: 80px;
    justify-content: space-between;
}


#main-menu li {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
}

#main-menu li:last-child {
    margin-right: 0;
}


.btn {
    background-color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
}

.secondary {
    background-color: #23272A;
    color: white;
}

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
    text-align: center;


    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
    }


}


/* #endregion Above the fold */

/* region Belove the fold */
.main-features .container {
    min-height: 500px;
    margin: 0 auto;
    padding: 100px 0;
}

.content-wrap {
    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.column img {
    margin: 0 auto;
}

/* endregion Belove the fold */