/* #region Main classes*/
:root {

    --dis-primary-color: #255ee9;
    --dis-primary-dark: #23272A;
    --dis-primary-Light: #8EA1E1;
    --dis-light-grey: #f6f6f6;
    --dis-dark: #000;
    --dis-light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;

}

img {
    max-width: 100%;
}

.bg-grey {
    background-color: var(--dis-light-grey);
}

.mask-bottom {
    background-color: var(--dis-light);
    height: 50px;
    mask-image: url(../img/wave.svg);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

/* #endregion  Main classes */

/* Container style */
.container {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    gap: 20px;
}

.c-flex {
    display: flex;
    align-items: center;
}

.c-small {
    max-width: 600px;
}

.container .double-col {
    min-width: 70%;
}




h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

/* End Container style */

/* #region Above the fold */
header {
    background-color: var(--dis-primary-color);
}

header .container {
    min-height: 80px;
    justify-content: space-between;
}


#main-menu li {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
}

#main-menu li:last-child {
    margin-right: 0;
}


.btn {
    background-color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;


}

.secondary {
    background-color: var(--dis-primary-dark);
    color: white;
}

.light {
    background-color: var(--dis-primary-Light);
    color: white;
}

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
    text-align: center;


    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
    }


}


/* #endregion Above the fold */

/* region Belove the fold */
.main-features .container {
    min-height: 500px;
    margin: 0 auto;
    padding: 100px 0;
}

.content-wrap {}

.column img {
    margin: 0 auto;
}


#tech-sec {
    text-align: center;

    .cta-header {
        img {
            margin-bottom: -1rem;
        }

    }
}



/* endregion Belove the fold */

/* region footer */
footer {
    background-color: var(--dis-primary-dark);
    color: #fff;
    font-weight: bold;
    padding: 4rem 0;

    #footer-nav {
        justify-content: space-around;
        align-items: flex-start;


        ul {

            li {
                list-style: none;
                margin-bottom: 1.2rem;
            }
        }


    }



    h4 {
        color: var(--dis-primary-color);
        margin-bottom: 1rem;
    }

    #footer-info {
        padding-top: 2rem;
        justify-content: space-between;
    }

}



/* endregion footer */